.env
data/currents/*.nc
data/trajectories/*.zarr
data/trajectories/*.nc
data/tides/*.nc
data/waves/*.nc
data/winds/*.nc
data/sst/*.nc
data/chlorophyll/*.nc
data/spm/*.nc
data/spm/*.csv
data/spm/*.pkl
data/spm/*.png
data/papers/
data/*.png
*.code-workspace
__pycache__/
*.pyc
.ipynb_checkpoints/
.streamlit/
.DS_Store
*.egg-info/
data/animations/*.mp4
data/animations/*.gif
data/animations/_*.png
